.footerback {
  background-color: #0b223f;
  height: 520px;
}

.sociallinks {
  border-radius: 5px;
  color: black;
  padding: 5px;
  align-self: center;
  margin-top: 0.5rem;
}

.footer_links {
  color: #74a4e2 !important;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.footerinput {
  width: 90% !important;
  background-color: white;
  border-radius: 10px;
  height: 64px;
}

.footerbutton {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.footerinput {
  color: #94a3b8;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.footerinput::-webkit-input-placeholder {
  /* Edge */
  color: red;
}

.footerinput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(3, 219, 35);
}

.footerinput::placeholder {
  color: #94a3b8;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.csscheckbox {
  padding: 20px;
}

.Socials {
  justify-content: end;
  display: flex;
}

.logo {
  float: left;
}

.fotterbelow div {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .fotterbelow {
    display: flex;
    flex-wrap: nowrap;
    transform: scale(1);
  }

  .fotterbelow div {
    transform: scale(1);
  }

  .logo {
    float: none;
  }
  .Socials {
    flex-direction: row;
    transform: scale(0.8);
  }

  .footerback {
    margin-top: 3em;
    background-color: #0b223f;
    height: max-content;
  }
}
