#dropdown_item:hover{
    background-color:#CBD5E1;
    transition: all 0.2s ease-in-out;
}

#dropdown_item{
    font-weight: 500;
    color:#305586;

}

#submenu{

}


h1 {
margin: 0;
}
    
.card {
background-color: #d9dddf;
width: max-content;
padding: 20px;
height: max-content;
margin-left: 3%;
color: #293640;
border-radius: 15px;
}
    