/* Clear floats after the columns */

.headingarea {
  margin-left: 30%;
}

#headingmaterial {
  height: "1000px";
  background-color: "#0B223F";
  padding-top: "10rem";
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .headingmaterial {
    padding-left: 10em !important;
  }
}
